/* General menu */

section.menu {
    height: 60px;
    transition: height .25s;
}

.menu-head-from-root {
    display: flex;
    justify-content: space-between;
}

.menu-head-from-root button {
    height: auto;
    border: none;
    background: none;
    padding: 0;
}

.menu-title {
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

.menu-title > span {
    margin-right: 10px;
}

/* rendered-tree-menu */

.rendered-tree-menu > .menu-body {
    display: flex;
    justify-content: center;
    height: 300px;
}

.rendered-tree-menu.menu-open {
    height: 370px;
    transition: height .25s;
}