/* General menu */

section.menu {
    height: 60px;
    transition: height .25s;
}

.menu-head-from-root {
    display: flex;
    justify-content: space-between;
}

.menu-head-from-root > button {
    height: 24px;
    width: 24px;
    border: none;
    background: none;
    padding: 0;
    font-size: 20px;
}

.menu-title {
    display: inline-flex;
    justify-content: start;
    align-items: center;
}

.menu-title > span {
    margin-right: 10px;
}

/* rendered-tree-menu */

.rendered-tree-menu > .menu-body {
    display: flex;
    justify-content: center;
    height: 300px;
}

.rendered-tree-menu.menu-open {
    height: 370px;
    transition: height .25s;
}

/* axioms-list-menu */

.axioms-list-menu > .menu-body > ul, .axioms-list-menu > .menu-body {
    height: 300px;
}

.axioms-list-menu > .menu-body > ul {
    margin: 0;
    overflow: auto;
    
}

.axioms-list-menu.menu-open {
    height: 370px;
    transition: height .25s;
}