/* general */

li.mini-axiom-container {
    position: relative;
}

li.mini-axiom-container > canvas {
    margin: 10px;
}

li.mini-axiom-container > .mini-axiom-overlay {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

li.mini-axiom-container > .mini-axiom-overlay > span {
    padding: 5px;
    position: absolute;
}

li.mini-axiom-container > .mini-axiom-overlay > button {
    width: 24px;
    height: 24px;
    position: absolute;
    border: none;
    background: white;
    font-size: 20px;
    padding: 0;
}

/* overlay */

.mini-axiom-overlay {
    position: relative;
}

.mini-axiom-overlay > * {
    position: absolute;
}

.overlay-close > .on-overlay-open {
    display: none;
}

.overlay-open > .on-overlay-close {
    display: none;
}

.delete-axiom-button {
    top: 5px;
    right: 5px;
}

.close-overlay-button {
    bottom: 5px;
    right: 5px;
}

.edit-axiom-button {
    bottom: 5px;
    left: 5px;
}

/*li.mini-axiom-container > .mini-axiom-overlay > .open-overlay-button,
li.mini-axiom-container > .mini-axiom-overlay > .close-overlay-button {
    bottom: 5px;
    right: 5px;
}


li.mini-axiom-container > .mini-axiom-overlay > .edit-axiom-button {
    bottom: 5px;
    left: 5px;
}

li.mini-axiom-container > .mini-axiom-overlay > .delete-axiom-button {
    top: 5px,;
    right: 5px;
}*/