.menu {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
    overflow: hidden;
}

.menu-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu-head > button {
    height: 24px;
    width: 24px;
    border: none;
    background: none;
    margin-left: 10px;
    padding: 0;
    font-size: 20px;
}

.menu-head > div {
    margin: 10px 0;
}

.menu-head-props {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-head-props > * {
    width: 100%;
}

.menu-body {
    padding-bottom: 10px;
}